# Archivos y directorios generados por el entorno de Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.db
*.sqlite3
.pytest_cache/

# Archivos y directorios generados por IDEs
.vscode/
.idea/
*.sublime-workspace
*.sublime-project

# Archivos de caché y logs
*.log
*.tmp

typesense-data/